:root {
    --dark-olive-green-seven-opacity: rgba(99, 107, 47, 0.7);
    --dark-olive-green: rgba(99, 107, 47);
    --dark-green: rgba(51, 51, 0);
    --lightest-green: rgba(204, 204, 153);
    --beige: rgba(230, 230, 179);
    --body-font: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    --black: black;
    --padding-left: 2rem;
    --marron-obscuro: rgba(101, 67, 33);
}

/*--dark-olive-green: rgba(99, 107, 47);*/
/*--medium-olive-green: rgba(78, 83, 59); */
/* --light-olive-green: rgba(129, 134, 74); */
/* --lighter-green: rgba(178, 178, 127); */
/* --light-yellow: rgba(255, 255, 204); */
/* --lighter-yellow: rgba(255, 255, 229); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY OR ENGLOBES MANY*/
body {
    font-family: var(--body-font);
    color: whitesmoke;
    background-color: var(--dark-green);
}

header,
main,
footer {
    width: 100%;
    margin: 0;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--black);
}

nav,
p,
section,
article {
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    background-color: rgba(51, 51, 0);
    display: grid;
    grid-template-columns: 1fr 11fr;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    ;
}

header img {
    float: left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    width: 6rem;
    height: auto;

}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}

/*MAIN*/
.grid {
    display: grid;
}

/*DIV ARTICLE class=hero*/
.hero article {
    width: 100%;
    /* background-color: var(--dark-olive-green); */
    align-content: center;
    padding-bottom: 21rem;
    /*padding-inline: 1rem; */
    position: absolute;
    top: 35vw;

}

.hero h2 {
    color: white;
    padding-top: 1rem;
    padding-left: var(--padding-left);
    font-size: 3vw;
    background-color: var(--dark-olive-green-seven-opacity);

}

.hero article p {
    color: white;
    padding-left: var(--padding-left);
    padding-bottom: 1rem;
    text-align: justify;
    font-size: 1.8vw;
    background-color: var(--dark-olive-green-seven-opacity);

}

/*SECTION class=history*/
.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--beige);
    color: black;

}

.history img {
    align-self: center;
    width: 100%;
    height: auto;
}

.history h2 {
    grid-column: 1/4;
    padding-left: var(--padding-left);
    padding-top: 2rem;
    font-size: 3vw;
    text-align: center;
}

.history p {
    margin-top: 1rem;
    padding-left: var(--padding-left);
    padding-right: var(--padding-left);
    text-align: justify;

    font-size: 1.8vw;
    padding-bottom: 2rem;
}

/*FOOTER*/
footer {
    display: grid;
    background-color: var(--dark-green);
    grid-template-columns: 3.5fr 1fr;
}

footer p {
    color: whitesmoke;
    padding-left: 1rem;
    justify-content: center;
    place-self: center;
}

footer nav {
    place-self: end;
}

/*HERO SPECIFIC RULES*/
h1 {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0.1vw 0.5vw red;
    font-size: 5vw;
}

.hero h1 {
    padding: 6rem 0 0 0;
    position: absolute;
    top: 5vw;
}

.hero article img {
    /*happy clients */
    float: right;
    height: 32vw;
    width: auto;
    padding-left: 3rem;
}

.hero img {
    /*our main photo*/
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: auto;

}

/*ADVENTURE AND FOOTER*/
.splash-regular {
    font-family: "Splash", cursive;
    font-weight: 400;
    font-style: normal;
}

.socialmedia a {
    text-decoration: none;
    display: inline;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.adventure {
    background-color: var(--lightest-green);
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
    border-bottom: 5px solid var(--marron-obscuro);
}

.adventure h1 {
    padding: 2.5rem 0;
    text-align: center;
}

.adventure p {
    text-align: center;
    color: var(--dark-green);
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 350;
    margin-bottom: 0.5rem;
}

.adventure h2 {
    text-align: center;
    padding: 1rem;
    margin: 0;
    font-size: 5vw;
    color: black;
    text-shadow: 0.1vw 0.1vw white;
}

.adventure div figure img {
    width: 18vw;
    height: auto;
    display: block;
    justify-self: center;
}

.adventure div figure figcaption {
    font-weight: 700;
    color: black;
    text-align: center;
}

.adventure div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* CONTACT PAGE CSS */

.map_form_contact {
    display: grid;
    grid-template-columns: 8fr 8fr 0px;
    background-color: var(--dark-olive-green);
    column-gap: 1rem;
}

.map {
    width: 100%;
    padding: 1rem;
    height: 100%;
    justify-content: center;
    align-content: center;
    border: 1rem;

}

.form {
    grid-template-columns: 20% 80%;
    row-gap: 2rem;
}

.form h2 {
    grid-column: 1/3;
    color: whitesmoke;
    margin: 1rem;

}

.form h2,
.form label,
p {
    text-align: center;
    align-content: center;
}

.grid_column_span {
    grid-column: 1/3;
}

.button {
    color: whitesmoke;
    background-color: var(--dark-green);
    font-size: larger;
    padding: 0.5rem 0;
    border: 0.1rem solid whitesmoke;
    margin-bottom: 1rem;
}

.serve {
    background-color: var(--dark-green);
}

.serve div figure figcaption,
.serve h2,
.serve p {
    color: whitesmoke;
}

.serve div figure figcaption span {
    display: block;
}