:root {
    --dark-olive-green-seven-opacity: rgba(99, 107, 47, 0.7);
    --dark-olive-green: rgba(99, 107, 47);
    --dark-green: rgba(51, 51, 0);
    --light-olive-green: rgba(129, 134, 74);
    --medium-olive-green: rgba(78, 83, 59);
    --beige: rgba(230, 230, 179);
    --lightest-green: rgba(178, 178, 127);
    --body-font: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    --black: black;
    --padding-left: 2rem;
    --marron-obscuro: rgba(101, 67, 33);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY OR ENGLOBES MANY*/
body {
    font-family: var(--body-font);
    color: whitesmoke;
    background-color: var(--dark-green);
}

header,
main,
footer {
    width: 100%;
    margin: 0;
}

h2 {
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--black);
}

nav,
p,
section,
article {
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    background-color: rgba(51, 51, 0);
    display: grid;
    grid-template-columns: 1fr 11fr;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
    ;
}

header img {
    float: left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    width: 6rem;
    height: auto;

}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}

/*MAIN*/
.grid {
    display: grid;
}

/*DIV ARTICLE class=hero*/
.hero article {
    align-content: center;
    padding-bottom: 21rem;
    position: absolute;
    grid-column: 1/3;
    grid-row: 3/5;

    display: grid;

}

.hero h2 {
    color: white;
    padding-top: 1rem;
    padding-left: var(--padding-left);
    font-size: 3vw;

}

.hero article div {
    background-color: var(--dark-olive-green-seven-opacity);
    padding: 0 1rem 1rem 0;
}

.hero article p {
    color: white;
    padding-left: var(--padding-left);
    text-align: justify;
    font-size: 1.8vw;

}

/*SECTION class=history*/
.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--beige);
    color: black;

}

.history img {
    align-self: center;
    width: 100%;
    height: auto;
}

.history h2 {
    grid-column: 1/4;
    padding-left: var(--padding-left);
    padding-top: 2rem;
    font-size: 3vw;
    text-align: center;
}

.history p {
    margin-top: 1rem;
    padding-left: var(--padding-left);
    padding-right: var(--padding-left);
    text-align: justify;

    font-size: 1.8vw;
    padding-bottom: 2rem;
}

/*FOOTER*/
footer {
    display: grid;
    background-color: var(--dark-green);
    grid-template-columns: 3.5fr 1fr;
    border-top: 1px solid whitesmoke;
}

footer p {
    color: whitesmoke;
    padding-left: 1rem;
    justify-content: center;
    place-self: center;
}

footer nav {
    place-self: end;
    display: flex;
}

/*HERO SPECIFIC RULES*/
h1 {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0.1vw 0.5vw red;
    font-size: 5vw;
}

.hero h1 {
    padding: 6rem 0 0 0;
    position: absolute;
    top: 5vw;
}

.hero article img {
    /*happy clients */
    height: auto;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/3;

    align-self: center;

}

.hero img {
    /*our main photo*/
    grid-column: 1/3;
    grid-row: 1/10;
    width: 100%;
    height: auto;

}

/*ADVENTURE AND FOOTER*/
.splash-regular {
    font-family: "Splash", cursive;
    font-weight: 400;
    font-style: normal;
}

.socialmedia a {
    text-decoration: none;
    display: inline;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
    position: relative;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.adventure {
    background-color: var(--lightest-green);
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
    border-bottom: 5px solid var(--marron-obscuro);
}

.adventure h1 {
    padding: 2.5rem 0;
    text-align: center;
}

.adventure p {
    text-align: center;
    color: var(--dark-green);
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 350;
    margin-bottom: 0.5rem;
}

.adventure h2 {
    text-align: center;
    padding: 1rem;
    margin: 0;
    font-size: 5vw;
    color: black;
    text-shadow: 0.1vw 0.1vw white;
}

.adventure div figure img {
    width: 18vw;
    height: auto;
    display: block;
    justify-self: center;
}

.adventure div figure figcaption {
    font-weight: 700;
    color: black;
    text-align: center;
}

.adventure div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

/* CONTACT PAGE CSS */

.map-form-contact {
    display: grid;
    grid-template-columns: 8fr 8fr 0px;
    background-color: var(--dark-olive-green);
    column-gap: 1rem;
}

.map {
    width: 100%;
    padding: 1rem;
    height: 100%;
    justify-content: center;
    align-content: center;
    border: 1rem;

}

.form {
    grid-template-columns: 20% 80%;
    row-gap: 2rem;
}

.form h2 {
    grid-column: 1/3;
    color: whitesmoke;
    margin: 1rem;

}

.form h2,
.form label,
p {
    text-align: center;
    align-content: center;
}

.grid-column-span {
    grid-column: 1/3;
}

.button {
    color: whitesmoke;
    background-color: var(--dark-green);
    font-size: larger;
    padding: 0.5rem 0;
    border: 0.1rem solid whitesmoke;
    margin-bottom: 1rem;
}

.serve {
    background-color: var(--dark-green);
}

.serve div figure figcaption,
.serve h2,
.serve p {
    color: whitesmoke;
}

.serve div figure figcaption span {
    display: block;
}

/* Index.html additions*/

.index-hero h1 {
    grid-row: 1/2;
    padding: 0;
    margin-top: 8px;
    background-color: rgb(0, 0, 0, 0.5);
}

.index-hero p {
    grid-row: 3/4;
    grid-column: 1/3;
    position: relative;
    background-color: rgb(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 2vw;
    padding: 0;
    margin: 0;

}

.four-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    margin: 1.5rem 0.5rem;
}

.column-with-img-bottom {
    background-color: var(--marron-obscuro);
    display: grid;
}

.column-with-img-bottom img {
    width: 100%;
    height: auto;
    align-self: end;
    justify-self: center;
    margin: 0;
    padding: 0;
    border: 0;

}

.column-with-img-bottom div h2 {
    color: whitesmoke;
    text-align: center;
    padding: 1.5rem 0;
    font-weight: 800;
    font-size: 1.1rem;
    background-color: var(--dark-olive-green);
}

.column-with-img-bottom div p {
    text-align: justify;
    margin: 1rem 1rem;
    font-size: 1rem;

}

.two-column {
    grid-template-columns: 4fr 3fr;

}

.button-index {
    box-sizing: border-box;
    grid-column: 2/3;
    position: relative;
}

.button-index img {

    grid-column: 2/3;
    grid-row: 1/2;
    width: auto;
    height: 100%;
    position: absolute;
    padding: 1rem 0;
    display: block;
    justify-self: center;


}

.button-index h2 {
    margin-top: 3rem;
}

.button-index h2,
.butto-index p {
    color: whitesmoke;
    position: relative;
    justify-self: center;
    text-align: center;
    padding: 1rem 1rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 18rem;
    justify-self: center;
}



.bring-forward {
    position: static;
    z-index: 100;
}

.newsletter {
    margin: 1rem;
    border-top: 0.5rem solid whitesmoke;
    border-bottom: 0.5rem solid whitesmoke;
}

.newsletter h2 {
    font-size: 1.5rem;
    color: whitesmoke;
    padding: 1rem 0;
}

.newsletter fieldset {
    padding-bottom: 1rem;
}

.newsletter legend {
    font-size: 1rem;
    color: whitesmoke;
    padding: 1rem 1rem 1rem 1rem;
}

.newsletter div label {
    font-size: 1rem;
    color: whitesmoke;
    margin: 0rem 1rem 0rem 2rem;
}

.newsletter div input {
    font-size: 1rem;
    color: black;
    padding: 0.5rem 2rem;
    display: inline-block;
    width: 50%;
}



.select-apply {
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin: 1.5rem 0;
}

.select-apply p {
    font-size: 1rem;
    text-align: left;
    padding-left: 2rem;
}

.select-apply div label input,
.term label input {
    height: 1rem;
    width: 2rem;
}

.select-apply div label {
    font-size: 1rem;
}



.button-submit {
    background-color: whitesmoke;
    border: none;
    color: var(--dark-green);
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 1rem;
    margin: 1rem;
    border-radius: 8px;

}

/*TRIPS HTML*/

.trips-hero h1 {
    margin-top: -4rem;
    margin-left: 2rem;
    width: 19rem;
    text-align: left;
}

.trips-hero h2 {
    text-align: left;
    margin-top: -9rem;
    font-size: 1.5rem;
}

.trips-hero {
    margin-bottom: 4rem;
}

.three-equal-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    margin-left: 10%;
    margin-right: 10%;
}

.two-elements-grid-centered {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    grid-gap: 0.5rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0.5rem;
}

#devil-cauldron {
    grid-column: 2/3;
}

#thunder-run {
    grid-column: 3/4;
}

.table-design table caption {
    background-color: var(--medium-olive-green);
    margin-top: 5rem;
    padding: 2rem 10%;
    text-align: justify;
}

.table-design table {

    box-sizing: border-box;
    border-collapse: collapse;
    border: 0.5rem solid;
    margin: 2rem 10%;
    justify-self: center;

}

.table-design table thead th,
.table-design table tbody td {
    padding: 0.5rem;
    text-align: center;
    border: 2px solid whitesmoke;
}

.article p {
    text-align: justify;
    padding: 0.5rem 0;
    padding-right: 1rem;
}

.article {
    padding-left: 10%;
    padding-bottom: 2rem;
}

.article h2 {
    padding-top: 1.5rem;
    padding-right: 1rem;
}

.article ol li,
.article ul li {
    padding: 0.5rem 1rem 0rem 0rem;
}

.article ol,
.article ul {
    padding-left: 1rem;
}

.article ul li ul {
    padding-left: 1rem;
}

.black-flex-column h2,
.black-flex-column p {
    color: whitesmoke;
    background-color: rgb(0, 0, 0, 0.4);
    width: 10rem;
    align-self: center;
    position: static;
    z-index: 99;

}

.black-flex-column p {

    padding: 0.5rem;
}

.black-translucent {
    background-color: rgb(0, 0, 0, 0.7);
    color: whitesmoke;
    font-size: larger;
    width: 9rem;
    align-self: center;
}