:root {
    --dark-olive-green: rgba(99, 107, 47, 0.7);
    --dark-green: rgba(51, 51, 0);
    --lightest-green: rgba(204, 204, 153);
    --beige: rgba(230, 230, 179);
    --body-font: 'Segoe UI',
        Tahoma,
        Geneva,
        Verdana,
        sans-serif;
    --black: black;
    --padding-left: 2rem;
}

/*--dark-olive-green: rgba(99, 107, 47);*/
/* --medium-olive-green: rgba(78, 83, 59); */
/* --light-olive-green: rgba(129, 134, 74); */
/* --lighter-green: rgba(178, 178, 127); */
/* --light-yellow: rgba(255, 255, 204); */
/* --lighter-yellow: rgba(255, 255, 229); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY OR ENGLOBES MANY*/
body {
    font-family: var(--body-font);
    color: whitesmoke;
    background-color: var(--dark-green);
}

header,
main,
footer {
    width: 100%;
    margin: 0;
}

h1,
h2 {
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--black);
}

nav,
p,
section,
article {
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    background-color: rgba(51, 51, 0);
    display: grid;
    grid-template-columns: 1fr 11fr;
}

header img {
    float: left;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    width: 6rem;
    height: auto;

}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;

}

/*MAIN*/
.grid {
    display: grid;
}

/*ARTICLE*/
.hero article {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    /* background-color: var(--dark-olive-green); */
    align-content: center;
    padding-bottom: 21rem;
    /*padding-inline: 1rem; */

}


article h2 {
    color: white;
    padding-top: 1rem;
    padding-left: var(--padding-left);
    font-size: 3vw;
    background-color: var(--dark-olive-green);

}

article p {
    color: white;
    padding-left: var(--padding-left);
    padding-bottom: 1rem;
    text-align: justify;
    font-size: 1.8vw;
    background-color: var(--dark-olive-green);


}

/*SECTION*/
.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}


section img {
    align-self: center;
    width: 100%;
    height: auto;
}

section {
    background-color: var(--beige);
    color: black;
}

section h2 {
    grid-column: 1/4;
    padding-left: var(--padding-left);
    padding-top: 2rem;
    font-size: 3vw;
    text-align: center;
}

section p {
    display: inline-block;
    margin-top: 1rem;
    padding-left: var(--padding-left);
    padding-right: var(--padding-left);
    text-align: justify;

    font-size: 1.8vw;
    padding-bottom: 2rem;
}

/*FOOTER*/
footer {
    background-color: var(--dark-green);
}

footer p {
    color: whitesmoke;
    padding-left: 1rem;
}



/*HERO SPECIFIC RULES*/

.hero h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    place-content: start;
    width: 100%;
    padding: 6rem 0 0 0;
    text-align: center;
    color: white;
    text-shadow: 0.1vw 0.5vw red;
    font-size: 5vw;
}

.hero article img {
    /*happy clients */
    float: right;
    height: 32vw;
    width: auto;
    padding-left: 3rem;
}

.hero img {
    /*our main photo*/
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: auto;

}

/*CLASSES*/
.splash-regular {
    font-family: "Splash", cursive;
    font-weight: 400;
    font-style: normal;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.adventure {
    width: 100%;
    text-align: center;
    background-color: var(--lightest-green);

}

.adventure h2 {
    padding: 1rem;
    margin: 0;
    font-size: 5vw;
    color: black;
    text-shadow: 0.1vw 0.1vw white;
}