:root {
    --color-olive-green: #636B2F;
    --text-color: #000;
    --contrast-text-color: whitesmoke;
    --heading-font: 'Times New Roman', Times, serif;
    --paragraph-font: 'Times New Roman', Times, sans-serif;
    --border-image: 1px solid var(--text-color);
    --box-shadow: 0 0 30px gray;
}

nav {
    /* This CSS rule names the <nav > element as the selected element to apply two style declarations.

    1. The background color will be the color "darkblue", which is a valid, named color.
    Padding, or area between the content and border is set to 10 pixels for readability.  */

    background-color: var(--color-olive-green);
    padding: 10px;
}

nav a {
    /*This CSS rule selects all the <a > (anchor / link) elements in the HTML that are children of the <nav > element and applies the following declarations:
    
    1. The foreground or font color will be white. 
    2. The display will change from the default of inline to block. 
    3. Each anchor tag will have padding of 20px;*/

    color: var(--contrast-text-color);
    display: block;
    padding: 20px;
}

h1 {
    /*This CSS rule references the <h1 > (heading 1) element as the selected element and applies the following declaration:
    
    1. The foreground, font color is set to darkblue.*/

    color: var(--text-color);
    font-family: var(--heading-font);
}

main img {

    /*This CSS rule references all the <img > (image) elements as the selector and applies the following declarations:
    
    1. A set width with a height that will adjust dynamically to fit the image's aspect ratio.
    2. A border shortcut that names the width, type of border, and color of the border.
    3. Padding between the image and the border. 
    4. A box shadow around the image border with zero offset and depth of 30px in gray.*/

    width: 150px;
    height: auto;
    border: var(--border-image);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {

    /*This CSS rule selects all the <p > (paragraph) elements as the selector and applies the following declaration:
    
    1. Padding between the paragraph content and the border is set to 10 pixels.*/

    padding: 0px;
    font-family: var(--paragraph-font);
}

main {
    max-width: 830px;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border-image);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1rem solid var(--contrast-text-color);
    padding: 15px;
    background-color: var(--color-olive-green);
    color: var(--contrast-text-color);
    text-align: center;
}

footer {
    margin-top: 1rem;
    border-top: 2rem;
    text-align: center;
}